<% @page_title = ' | Admin Login' %>

<% if !flash[:notice].blank? %>
    <div class="alert alert-danger">
      <%= flash[:notice] %>
    </div>
<% end %>
<br />

<div class="col-md-offset-4">
  <%= form_tag({:action => 'attempt_login'}, {:class => 'form-horizontal', :role => 'form'}) do %>
      <div class="form-group">
        <div class="col-md-5 col-sm-5">
          <div class="input-group">
            <span class="input-group-addon"><%= icon('user fa-fw') %></span>
            <%= text_field_tag(:username, nil, :class => 'form-control', :placeholder => 'User') %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-5 col-sm-5">
          <div class="input-group">
            <span class="input-group-addon"><%= icon('key fa-fw') %></span>
            <%= password_field_tag(:password, nil, :class => 'form-control', :placeholder => 'Password') %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-5 col-lg-5">
          <button type="submit" class="btn btn-default"><%= icon('unlock fa-fw') %> Log In</button>
        </div>
      </div>
  <% end %>
</div>

