<% @page_title = ' | Device management' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <% if params[:id] == nil %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
    <%= link_to  ({:controller => 'counterlabs_settings', :action => 'devices'}) do %>
        <%= icon('sitemap') %> All devices
    <% end %>
    </li>
    <li>
      <%= link_to  ({:controller => 'counterlabs_settings', :action => 'new'}) do %>
          <%= icon('pencil') %> New device
      <% end %>
    </li>
    <hr/>
    <% unless @counterlabs_devices.nil? %>
        <% @counterlabs_devices.all.each do |device| %>
            <% if params[:id] == device.id.to_s %>
                <li class="active">
            <% else %>
                <li>
            <% end %>
            <%= link_to  ({:controller => 'counterlabs_settings', :action => 'edit', :id =>device.id}) do %>
                <%= icon('plus-square') %> <%= device.ip_address %>
            <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li class="active">Device settings
    </li>
  </ul>
  <hr/>
  <% if !flash[:notice].blank? %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% unless @counterlabs_devices.nil? %>
      <% @counterlabs_devices.all.each do |device| %>
          <div class="col-lg-4 col-md-4 col-sm-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center"><%= icon('plus-square') %> Device :: <%= device.ip_address %>
                </div>
              </div>
              <div class="panel-body">
                <p>
                  <%= device.description %>
                </p>
                <hr/>
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <%= link_to ({:controller => 'counterlabs_settings', :action => 'edit', :id => device.id}), {:class =>  'btn btn-info btn-sm'} do%>
                        <%= icon('pencil fa-lg') %><b> Modify</b>
                    <% end %>
                  </div>
                  <div class="btn-group">
                    <%= link_to ({:controller => 'counterlabs_settings', :action => 'delete', :id => device.id}), {:class =>  'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }} do%>
                        <%= icon('trash-o fa-lg') %><b> Remove</b>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      No devices
  <% end %>
</div>