<% @page_title = ' | Modify device' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= link_to  ({:controller => 'counterlabs_settings', :action => 'devices'}) do %>
          <%= icon('sitemap') %> All devices
      <% end %>
    </li>
    <li>
      <%= link_to  ({:controller => 'counterlabs_settings', :action => 'new'}) do %>
          <%= icon('pencil') %> New device
      <% end %>
    </li>
    <hr/>
    <% @counterlabs_devices.all.each do |device| %>
        <% if params[:id] == device.id.to_s %>
            <li class="active">
        <% else %>
            <li>
        <% end %>
        <%= link_to  ({:controller => 'counterlabs_settings', :action => 'edit', :id =>device.id}) do %>
            <%= icon('plus-square') %> <%= device.ip_address %>
        <% end %>
        </li>
    <% end %>
  </ul>
</div>
<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li><%= link_to 'Device settings', {:controller => 'counterlabs_settings', :action => 'devices'} %></li>
    <li class="active">Edit device <%= @device.ip_address %>
    </li>
  </ul>
  <hr/>
  <%= error_messages_for(@device) %>
  <%= form_for(:device, :url => {:action => 'update', :id => @device.id}) do |f| %>
      <%= render partial: 'application/counterlabs_device_form', :locals => {:f => f} %>
  <% end %>
</div>






