<% @page_title = ' | Module management' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
        <li class="active">
    <%= link_to  ({:controller => 'counterlabs_settings', :action => 'module'}) do %>
        <%= icon('home') %> Settings
    <% end %>
    </li>
    <% if @module.module_enabled %>
        <li class="disabled">
          <%= link_to  ({:controller => 'counterlabs_settings', :action => 'toggle_module'}) do %>
              <%= icon('check') %> Enable
          <% end %>
        </li>
        <li>
          <%= link_to  ({:controller => 'counterlabs_settings', :action => 'toggle_module'}) do %>
              <%= icon('remove') %> Disable
          <% end %>
        </li>
    <% else %>
        <li>
          <%= link_to  ({:controller => 'counterlabs_settings', :action => 'toggle_module'}) do %>
              <%= icon('check') %> Enable
          <% end %>
        </li>
        <li class="disabled">
          <%= link_to  ({:controller => 'counterlabs_settings', :action => 'toggle_module'}) do %>
              <%= icon('remove') %> Disable
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li class="active">Module settings
    </li>
  </ul>
  <hr/>
  <p>Current status:
    <% if @module.module_enabled %>
        <%= render partial: 'application/label_online' %>
    <% else %>
        <%= render partial: 'application/label_offline' %>
    <% end %>
  </p>
</div>
