<% @page_title = ' | New device' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= link_to  ({:controller => 'counterlabs_settings', :action => 'devices'}) do %>
          <%= icon('sitemap') %> All devices
      <% end %>
    </li>
    <li class="active">
      <%= link_to  ({:controller => 'counterlabs_settings', :action => 'new'}) do %>
          <%= icon('pencil') %> New device
      <% end %>
    </li>
  </ul>
</div>
<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li><%= link_to 'Device settings', {:controller => 'counterlabs_settings', :action => 'devices'} %></li>
    <li class="active">New device
    </li>
  </ul>
  <hr/>
  <%= error_messages_for(@device) %>
  <%= form_for(:device, :url => {:action => 'create'}) do |f| %>
      <%= render partial: 'application/counterlabs_device_form', :locals => {:f => f} %>
  <% end %>
</div>








