<% @page_title = ' | History' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <% if params[:id] == nil %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
    <%= link_to  ({:controller => 'tehulabs', :action => 'history'}) do %>
        <%= icon('dot-circle-o') %> General
    <% end %>
    </li>
    <% unless @tehulabs_devices.nil? %>
        <% @tehulabs_devices.all.each do |device| %>
            <% if params[:id] == device.id.to_s %>
                <li class="active">
            <% else %>
                <li>
            <% end %>
            <%= link_to  ({:controller => 'tehulabs', :action => 'history', :id =>device.id}) do %>
                <%= icon('plus-square') %> <%= device.ip_address %>
            <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'TEHULABS', {:controller => 'tehulabs', :action => 'overview'} %></li>
    <li><%= link_to 'History', {:controller => 'tehulabs', :action => 'history'} %></li>
    <li class="active">
      <% if params[:id] == nil %>
          General
      <% else %>
          Device <%= @tehulabs_devices.find_by(:id.to_s => params[:id]).ip_address %>
      <% end %>
    </li>
  </ul>
  <hr/>
  <% unless @tehulabs_devices.nil? %>
      <% if params[:id].nil? %>
          <% @tehulabs_devices.all.each do |device| %>
              <div class="panel panel-default">
                <div class="panel-heading"><%= icon('plus-square') %> Device :: <%= device.ip_address%></div>
                <div class="table-responsive">
                  <table class="table  table-striped table-condensed table-hover">
                    <thead>
                    <th>Temperature (°C)</th>
                    <th>min</th>
                    <th>max</th>
                    <th>avg</th>
                    </thead>
                    <tr>
                      <td>10 mins</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_10minutes(device.id).minimum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_10minutes(device.id).maximum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_10minutes(device.id).average(:temperature), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>1 hour</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1hour(device.id).minimum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1hour(device.id).maximum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1hour(device.id).average(:temperature), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>12 hours</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_12hours(device.id).minimum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_12hours(device.id).maximum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_12hours(device.id).average(:temperature), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>1 day</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1day(device.id).minimum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1day(device.id).maximum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1day(device.id).average(:temperature), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>7 days</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_7days(device.id).minimum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_7days(device.id).maximum(:temperature), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_7days(device.id).average(:temperature), precision: 1) %></td>
                    </tr>
                    <thead>
                    <th>Humidity (%RH)</th>
                    <th>min</th>
                    <th>max</th>
                    <th>avg</th>
                    </thead>
                    <tr>
                      <td>10 mins</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_10minutes(device.id).minimum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_10minutes(device.id).maximum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_10minutes(device.id).average(:humidity), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>1 hour</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1hour(device.id).minimum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1hour(device.id).maximum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1hour(device.id).average(:humidity), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>12 hours</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_12hours(device.id).minimum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_12hours(device.id).maximum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_12hours(device.id).average(:humidity), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>1 day</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1day(device.id).minimum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1day(device.id).maximum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_1day(device.id).average(:humidity), precision: 1) %></td>
                    </tr>
                    <tr>
                      <td>7 days</td>
                      <td><%= number_with_precision(@tehulabs_records.scope_7days(device.id).minimum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_7days(device.id).maximum(:humidity), precision: 1) %></td>
                      <td><%= number_with_precision(@tehulabs_records.scope_7days(device.id).average(:humidity), precision: 1) %></td>
                    </tr>
                  </table>
                </div>
              </div>
          <% end %>
      <% else %>
          <%= icon('clock-o ') %>
          <%= link_to '10m', {id: params[:id], :time => '1'} %> | <%= link_to '1h', {id: params[:id], :time => '2'} %> |
          <%= link_to '12h', {id: params[:id], :time => '3'} %> | <%= link_to '24h', {id: params[:id], :time => '4'} %>
          <br/>
          <br/>
          <% device = @tehulabs_devices.find_by(id: params[:id]) %>
          <%# arr = @tehulabs_records.scope_1hour(device.id).pluck(:temperature, :temperature_sma, :humidity, :humidity_sma, :created_at) %>
          <% case params[:time] %>
  <% when '2' %>
              <% array = @tehulabs_records.where(tlabs_device_id: device.id, created_at: (Time.now-1.hour)..Time.now).pluck(:temperature, :temperature_sma, :humidity, :humidity_sma, :created_at) %>
          <% when '3' %>
              <% array = @tehulabs_records.where(tlabs_device_id: device.id, created_at: (Time.now-12.hours)..Time.now).pluck(:temperature, :temperature_sma, :humidity, :humidity_sma, :created_at) %>
          <% when '4' %>
              <% array = @tehulabs_records.where(tlabs_device_id: device.id, created_at: (Time.now-24.hours)..Time.now).pluck(:temperature, :temperature_sma, :humidity, :humidity_sma, :created_at) %>
          <% else %>
              <% array = @tehulabs_records.where(tlabs_device_id: device.id, created_at: (Time.now-10.minutes)..Time.now).pluck(:temperature, :temperature_sma, :humidity, :humidity_sma, :created_at) %>
          <% end %>
          <%
             temperature=[]
             temperature_sma=[]
             humidity=[]
             humidity_sma=[]
             array.map { |n|
               temperature.push([n[4],n[0]])
               temperature_sma.push([n[4],n[1]])
               humidity.push([n[4],n[2]])
               humidity_sma.push([n[4],n[3]])
             }
          %>
          <%= line_chart [{name: 'Moving average', data: temperature_sma},
                          {name: 'Temperature', data: temperature}],
                         {discrete: false,  library:
                                 {lineWidth: 1,
                                  chartArea:{width:'90%',height:'75%'},
                                  pointShape: 'diamond',
                                  pointSize: 4,
                                  title: 'Temperature',
                                  curveType: 'none',
                                  crosshair: { trigger: 'both' },
                                  dataOpacity: 0,
                                  legend: {position: 'top'}
                                 }} %>
          <br />
          <%= line_chart [{name: 'Moving average', data: humidity_sma},
                          {name: 'Humidity', data: humidity}],
                         {discrete: false,  library:
                                 {lineWidth: 1,
                                  chartArea:{width:'90%',height:'75%'},
                                  pointShape: 'diamond',
                                  pointSize: 4,
                                  title: 'Humidity',
                                  curveType: 'none',
                                  crosshair: { trigger: 'both' },
                                  dataOpacity: 0,
                                  legend: {position: 'top'}
                                 }} %>
      <% end %>
  <% end %>
</div>