<% @page_title = ' | Overview' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <%= link_to  ({:controller => 'tehulabs', :action => 'overview'}) do %>
          <%= icon('sitemap') %> All devices
      <% end %>
    </li>
  </ul>
</div>

<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'TEHULABS', {:controller => 'tehulabs', :action => 'overview'} %></li>
    <li><%= link_to 'Overview', {:controller => 'tehulabs', :action => 'overview'} %></li>
    <li class="active">All devices
    </li>
  </ul>
  <hr/>
  <% unless @tehulabs_devices.nil? %>
      <% @tehulabs_devices.all.each do |device| %>
          <%record = @tehulabs_records.where(tehulabs_device_id: device.id).last%>
          <div class="col-lg-4 col-md-5 col-sm-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center"><%= icon('plus-square') %> Device :: <%= device.ip_address %> ::
                  <% if device.device_online %>
                      <%= icon('arrow-circle-up') %>
                  <% else %>
                      <%= icon('arrow-circle-down') %>
                  <% end %>
                </div>
              </div>
              <div class="panel-body">
                <p>
                  <%= device.description %>
                </p>
                <hr />
                <% unless record.nil? %>
                    <p class="text-center"><%= icon('caret-right') %> Last measurement at  <%= icon('caret-left') %></p>
                    <p>
                      Value:
                      <span class="pull-right"><b><%= "#{record.created_at.strftime('%H:%M:%S')}" %></b></span>
                    </p>
                    <hr />
                    <p class="text-center"><%= icon('caret-right') %> Temperature <%= icon('caret-left') %></p>
                    <p>
                      Value:
                      <span class="pull-right"><b><%= "#{record.temperature.to_s} °C" %></b></span>
                    </p>
                    <p>
                      Moving average:
                      <span class="pull-right"><b><%= "#{record.temperature_sma.to_s} °C" %></b></span>
                    </p>
                    <hr />
                    <p class="text-center"><%= icon('caret-right') %> Humidity <%= icon('caret-left') %></p>
                    <p>
                      Value:
                      <span class="pull-right"><b><%= "#{record.humidity.to_s} %" %></b></span>
                    </p>
                    <p>
                      Moving average:
                      <span class="pull-right"><b><%= "#{record.humidity_sma.to_s} %" %></b></span>
                    </p>
                <% else %>
                    No records
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      No devices
  <% end %>
</div>