<% @page_title = ' | Device management' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <% if params[:id] == nil %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
    <%= link_to  ({:controller => 'tehulabs_settings', :action => 'devices'}) do %>
        <%= icon('sitemap') %> All devices
    <% end %>
    </li>
    <li>
      <%= link_to  ({:controller => 'tehulabs_settings', :action => 'new'}) do %>
          <%= icon('pencil') %> New device
      <% end %>
    </li>
    <hr/>
    <% unless @tehulabs_devices.nil? %>
        <% @tehulabs_devices.all.each do |device| %>
            <% if params[:id] == device.id.to_s %>
                <li class="active">
            <% else %>
                <li>
            <% end %>
            <%= link_to  ({:controller => 'tehulabs_settings', :action => 'edit', :id =>device.id}) do %>
                <%= icon('plus-square') %> <%= device.ip_address %>
            <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>
<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'TEHULABS', {:controller => 'tehulabs', :action => 'overview'} %></li>
    <li class="active">Device settings
    </li>
  </ul>
  <hr/>
  <% if !flash[:notice].blank? %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% unless @tehulabs_devices.nil? %>
      <% @tehulabs_devices.all.each do |device| %>
          <div class="col-lg-4 col-md-4 col-sm-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center"><%= icon('plus-square') %> Device :: <%= device.ip_address %> ::
                  <% if device.device_online %>
                      <%= icon('arrow-circle-up') %>
                  <% else %>
                      <%= icon('arrow-circle-down') %>
                  <% end %>
                </div>
              </div>
              <div class="panel-body">
                <p>
                  <%= device.description %>
                </p>
                <hr/>
                <p>
                  Measurement interval:
                  <span class="pull-right"><b><%= device.interval.strftime('%H:%M') %></b></span>
                </p>
                <p>
                  Moving average period:
                  <span class="pull-right"><b><%= device.sma_period.to_s %></b></span>
                </p>
                <hr/>
                <p class="text-center"><%= icon('caret-right') %> Correction offset <%= icon('caret-left') %></p>
                <p>
                  Temperature:
                  <span class="pull-right"><b><%= "#{device.temp_correction.to_s} °C" %></b></span>
                </p>
                <p>
                  Humidity:
                  <span class="pull-right"><b><%= "#{device.hum_correction.to_s} %" %></b></span>
                </p>
                <hr/>
                <p class="text-center"><%= icon('caret-right') %> Optimal range <%= icon('caret-left') %></p>
                <p>
                  Temperature:
                <span class="pull-right"><b><%= device.temp_opt_start.to_s%>
                  <%= '-'%>
                  <%="#{device.temp_opt_end.to_s} °C" %></b></span>
                </p>
                <p>
                  Humidity:
                <span class="pull-right"><b><%= device.hum_opt_start.to_s%>
                  <%= '-'%>
                  <%="#{device.hum_opt_end.to_s} %" %></b></span>
                </p>
                <hr/>
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <%= link_to ({:controller => 'tehulabs_settings', :action => 'edit', :id => device.id}), {:class =>  'btn btn-info btn-sm'} do%>
                        <%= icon('pencil fa-lg') %><b> Modify</b>
                    <% end %>
                  </div>
                  <div class="btn-group">
                    <%= link_to ({:controller => 'tehulabs_settings', :action => 'delete', :id => device.id}), {:class =>  'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }} do%>
                        <%= icon('trash-o fa-lg') %><b> Remove</b>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      No devices
  <% end %>
</div>