<% @page_title = ' | Export' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <% if params[:id] == nil %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
    <%= link_to  ({:controller => 'counterlabs', :action => 'export'}) do %>
        <%= icon('dot-circle-o') %> General
    <% end %>
    </li>
    <% unless @counterlabs_devices.nil? %>
        <% @counterlabs_devices.all.each do |device| %>
            <% if params[:id] == device.id.to_s %>
                <li class="active">
            <% else %>
                <li>
            <% end %>
            <%= link_to  ({:controller => 'counterlabs', :action => 'export', :id =>device.id}) do %>
                <%= icon('plus-square') %> <%= device.ip_address %>
            <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li><%= link_to 'Export', {:controller => 'counterlabs', :action => 'export'} %></li>
    <li class="active">
      <% if params[:id] == nil %>
          .
      <% else %>
          Device <%= @counterlabs_devices.find_by(:id.to_s => params[:id]).ip_address %>
      <% end %>
    </li>
  </ul>
  <hr/>
  <% unless @counterlabs_devices.nil? %>
      <% if params[:id].nil? %>
          Select device
      <% else %>
          <%= form_tag(id: params[:id], format: 'csv') do %>
              <div class="form-group">
                <%= label_tag(:start, raw("#{icon('clock-o')} Start date:"), :class => 'col-lg-2 control-label') %>
                <div class="col-lg-10">
                  <%= date_select('range', 'start_date', order: [:day, :month, :year])%>
                </div>
                <br/>
              </div>
              <br/>
              <div class="form-group">
                <%= label_tag(:end, raw("#{icon('clock-o')} End date:"), :class => 'col-lg-2 control-label') %>
                <div class="col-lg-10">
                  <%= date_select('range', 'end_date', order: [:day, :month, :year])%>
                </div>
                <br/>
              </div>
              <hr/>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-sm"><%= icon('check') %><b> Submit</b></button>
              </div>
          <% end %>
      <% end %>
  <% end %>
</div>