<% @page_title = ' | History' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <% if params[:id] == nil %>
        <li class="active">
    <% else %>
        <li>
    <% end %>
    <%= link_to  ({:controller => 'counterlabs', :action => 'history'}) do %>
        <%= icon('dot-circle-o') %> General
    <% end %>
    </li>
    <% unless @counterlabs_devices.nil? %>
        <% @counterlabs_devices.all.each do |device| %>
            <% if params[:id] == device.id.to_s %>
                <li class="active">
            <% else %>
                <li>
            <% end %>
            <%= link_to  ({:controller => 'counterlabs', :action => 'history', :id =>device.id}) do %>
                <%= icon('plus-square') %> <%= device.ip_address %>
            <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li><%= link_to 'History', {:controller => 'counterlabs', :action => 'history'} %></li>
    <li class="active">
      <% if params[:id] == nil %>
          General
      <% else %>
          Device <%= @counterlabs_devices.find_by(:id.to_s => params[:id]).ip_address %>
      <% end %>
    </li>
  </ul>
  <hr/>
  <% unless @counterlabs_devices.nil? %>
      <% if params[:id].nil? %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= icon('plus-square') %> All devices</div>
            <div class="table-responsive">
              <table class="table  table-striped table-condensed table-hover">
                <thead>
                <th>Device</th>
                <th>10 mins</th>
                <th>1 hour</th>
                <th>12 hours</th>
                <th>1 day</th>
                <th>7 days</th>
                </thead>
                <% @counterlabs_devices.all.each do |device| %>
                    <tr>
                      <td><%= device.ip_address %></td>
                      <td><%= @counterlabs_records.scope_10minutes(device.id).count %></td>
                      <td><%= @counterlabs_records.scope_1hour(device.id).count %></td>
                      <td><%= @counterlabs_records.scope_12hours(device.id).count %></td>
                      <td><%= @counterlabs_records.scope_1day(device.id).count %></td>
                      <td><%= @counterlabs_records.scope_7days(device.id).count %></td>
                    </tr>
                <% end %>
              </table>
            </div>
          </div>
      <% else %>
          <%= icon('clock-o ') %>
          <%= link_to '10m', {id: params[:id], :time => '1'} %> | <%= link_to '1h', {id: params[:id], :time => '2'} %> |
          <%= link_to '12h', {id: params[:id], :time => '3'} %> | <%= link_to '24h', {id: params[:id], :time => '4'} %>
          <br/>
          <% case params[:time] %>
  <% when '2' %>
              <%#= line_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(1).group_by_hour(:created_at).count, {library: {backgroundColor: { fill:'transparent' }}} %>
              <%= column_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(1).group_by_hour(:created_at, format: "%b %d, %H:%M").count, {library: {backgroundColor: { fill:'transparent' }}} %>
          <% when '3' %>
              <%#= line_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(12).group_by_hour(:created_at).count, {library: {backgroundColor: { fill:'transparent' }}} %>
              <%= column_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(12).group_by_hour(:created_at, format: "%b %d, %H:%M").count, {library: {backgroundColor: { fill:'transparent' }}} %>
          <% when '4' %>
              <%#= line_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(1).group_by_day(:created_at).count, {library: {backgroundColor: { fill:'transparent' }}} %>
              <%= column_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(1).group_by_day(:created_at, format: "%b %d, %H:%M").count, {library: {backgroundColor: { fill:'transparent' }}} %>
          <% else %>
              <%#= line_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(10).group_by_minute(:created_at).count, {library: {backgroundColor: { fill:'transparent' }}} %>
              <%= column_chart @counterlabs_records.where(clabs_device_id: params[:id]).order(created_at: :desc).limit(10).group_by_minute(:created_at, format: "%b %d, %H:%M").count, {library: {backgroundColor: { fill:'transparent' }}} %>
          <% end %>
      <% end %>
  <% end %>
</div>