<% @page_title = ' | Overview' %>

<div class="col-md-2 col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <%= link_to  ({:controller => 'counterlabs', :action => 'overview'}) do %>
          <%= icon('sitemap') %> All devices
      <% end %>
    </li>
  </ul>
</div>

<div class="col-md-10 col-lg-10">
  <ul class="breadcrumb">
    <li><%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'} %></li>
    <li><%= link_to 'COUNTERLABS', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li><%= link_to 'Overview', {:controller => 'counterlabs', :action => 'overview'} %></li>
    <li class="active">All devices
    </li>
  </ul>
  <hr/>
  <% unless @counterlabs_devices.nil? %>
      <% @counterlabs_devices.all.each do |device| %>
          <%record = @counterlabs_records.where(clabs_device_id: device.id).last%>
          <div class="col-lg-4 col-md-4 col-sm-5">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center"><%= icon('plus-square') %> Device :: <%= device.ip_address %>
                </div>
              </div>
              <div class="panel-body">
                <p>
                  <%= device.description %>
                </p>
                <hr />
                <p class="text-center"><%= icon('caret-right') %> Last measurement at <%= icon('caret-left') %></p>
                <p>
                  Value:
                  <% if record.nil? %>
                      <span class="pull-right"><b><%= 'No records' %></b></span>
                  <% else %>
                      <span class="pull-right"><b><%= "#{record.created_at.strftime('%H:%M:%S')}" %></b></span>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
  No devices
  <% end %>
</div>