<div class="form-group">
  <%= label_tag(:ip_address, 'IP address', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <%= f.text_field(:ip_address, :class => 'form-control', :type => 'text', :placeholder => '') %>
    <span class="help-block">Example: 192.168.1.1</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:description, 'Description', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <%= f.text_field(:description, :class => 'form-control', :type => 'text', :placeholder => '') %>
    <span class="help-block">Recommended value: physical location of the device</span>
  </div>
</div>
<br/>
<br/>
<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <%= link_to raw('<i class="fa fa-remove"></i><b> Cancel</b>'), {:controller => 'counterlabs_settings', :action => 'devices'}, :class =>  'btn btn-danger btn-sm'%>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-info btn-sm"><%= icon('check') %><b> Submit</b></button>
      </div>
    </div>
  </div>
</div>