<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Dashboard', {:controller => 'dashboard', :action => 'index'}, :class => 'navbar-brand' %>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown <%= 'active' if params[:controller] == 'tehulabs' || params[:controller] == 'tehulabs_settings' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">TEHULABS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Overview', {:controller => 'tehulabs', :action => 'overview'} %></li>
            <li><%= link_to 'History', {:controller => 'tehulabs', :action => 'history'} %></li>
            <li><%= link_to 'Export', {:controller => 'tehulabs', :action => 'export'} %></li>
            <% unless session[:user_id].nil? %>
                <li class="divider"></li>
                <li><%= link_to 'Module settings', {:controller => 'tehulabs_settings', :action => 'module'} %></li>
                <li><%= link_to 'Device settings', {:controller => 'tehulabs_settings', :action => 'devices'} %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown <%= 'active' if params[:controller] == 'counterlabs' || params[:controller] == 'counterlabs_settings' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">COUNTERLABS <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Overview', {:controller => 'counterlabs', :action => 'overview'} %></li>
            <li><%= link_to 'History', {:controller => 'counterlabs', :action => 'history'} %></li>
            <li><%= link_to 'Export', {:controller => 'counterlabs', :action => 'export'} %></li>
            <% unless session[:user_id].nil? %>
                <li class="divider"></li>
                <li><%= link_to 'Module settings', {:controller => 'counterlabs_settings', :action => 'module'} %></li>
                <li><%= link_to 'Device settings', {:controller => 'counterlabs_settings', :action => 'devices'} %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if session[:user_id].nil? %>
              <%= link_to 'Log In', {:controller => 'access', :action => 'login'} %>
          <% else %>
              <%= link_to 'Log Out', {:controller => 'access', :action => 'logout'} %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>