<div class="form-group">
  <%= label_tag(:ip_address, 'IP address', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <%= f.text_field(:ip_address, :class => 'form-control', :type => 'text', :placeholder => '') %>
    <span class="help-block">Example: 192.168.1.1</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:description, 'Description', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <%= f.text_field(:description, :class => 'form-control', :type => 'text', :placeholder => '') %>
    <span class="help-block">Recommended value: physical location of the device</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:interval, 'Interval', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <%= f.time_select(:interval, :include_seconds => false, :class => 'form-control') %>
    <span class="help-block">Measurement interval. Format: HH : MM</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:sma_period, 'Moving average period', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <%= f.text_field(:sma_period, :class => 'form-control', :type => 'number', :placeholder => '') %>
    <span class="help-block">Value used for moving average calculations. Must be an integer.</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:temp_correction, 'Temperature correction value', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <div class="input-group">
      <%= f.text_field(:temperature_correction, :class => 'form-control', :type => 'text', :placeholder => '') %>
      <span class="input-group-addon">°C</span>
    </div>
    <span class="help-block">Measured temperature will be modified using this value before saving. Example: 1.1</span>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:hum_correction, 'Humidity correction value', :class => 'col-lg-2 control-label') %>
  <div class="col-lg-10">
    <div class="input-group">
      <%= f.text_field(:humidity_correction, :class => 'form-control', :type => 'text', :placeholder => '') %>
      <span class="input-group-addon">%</span>
    </div>
    <span class="help-block">Measured humidity will be modified using this value before saving. Example: -0.2</span>
  </div>
</div>




<br/>
<br/>
<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <%= link_to raw('<i class="fa fa-remove"></i><b> Cancel</b>'), {:controller => 'tehulabs_settings', :action => 'devices'}, :class =>  'btn btn-danger btn-sm'%>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-info btn-sm"><%= icon('check') %><b> Submit</b></button>
      </div>
    </div>
  </div>
</div>