<!DOCTYPE html>
<html>
<head>
  <title>Monitoring Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'application/navbar' %>
<%= render partial: 'application/jumbotron', locals: {title: 'Monitoring dashboard', subtitle: ''} %>
<div class="well well-sm">
  <div class="container">
    <%= yield %>
  </div>
</div>
<hr/>
<%= render partial: 'application/footer' %>
</body>
</html>
