<!DOCTYPE html>
<html>
<head>
  <title>Monitoring Dashboard | TEHULABS <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.google.com/jsapi', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'chartkick', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'application/navbar' %>
<hr/>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>
<hr/>
<%= render partial: 'application/footer' %>
</body>
</html>
